.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(180, 156, 243, 0.486);
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

.app {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
}

/* Contact.js */
.form {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > h1 {
  margin-bottom: 10px;
}

.form > input,
textarea {

  padding: 10px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 10px;
  border: 1px solid lightgray;
  /* border: none; */
  background: #fff;
  font-size: 14px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form > textarea {
  height: 150px;
  
  min-height: 100px;
}

.form > label {
  padding-bottom: 5px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.form > button {
  padding: 10px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 100;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form > button:hover {
  background-color: rgb(0, 0, 196);
}

 /* About section*/
  
 .about {
  padding: 10px 0 0 0;
}

.about .icon-boxes h3 {
  font-size: 35px;
  font-weight: bold;
  color: #080808;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #cc1c05;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #cc1c05;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #cc1c05;
  border-color: #cc1c05
}

.about .icon-box:hover .icon i {
  color: #fff;
}


.about .icon-box .icon-1 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #05cc23;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .about .icon-box .icon-1 i {
    color: #05cc23;
    font-size: 32px;
  }
  
  .about .icon-box:hover .icon-1 {
    background: #05cc23;
    border-color: #05cc23;
  }
  
  .about .icon-box:hover .icon-1 i {
    color: #fff;
  }


  .about .icon-box .icon-2 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #0670f1;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .about .icon-box .icon-2 i {
    color: #0670f1;
    font-size: 32px;
  }
  
  .about .icon-box:hover .icon-2 {
    background: #0670f1;
    border-color: #0670f1;
  }
  
  .about .icon-box:hover .icon-2 i {
    color: #fff;
  }




.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.about .icon-box .title-1 {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .about .icon-box .title-2 {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title-1 a {
    color: #343a40;
    transition: 0.3s;
  }

  .about .icon-box .title-2 a {
    color: #343a40;
    transition: 0.3s;
  }

.about .icon-box .title a:hover {
  color: #cc1c05;
}

.about .icon-box .title-1 a:hover {
    color: #05cc23;
  }

  .about .icon-box .title-2 a:hover {
    color: #0670f1;
  }

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

  /* end of About Section*/